---
import Experience from "./Experience.astro";
import { ExperienceData } from "../static/data";
---

<section class="flex flex-col md:flex-row justify-between gap-5 mt-10">
  <div
    class="text-lg font-semibold tracking-tight sm:text-xl text-primary-100 md:border-l border-zinc-700 pl-2"
  >
    Experience
  </div>
  <div class="flex flex-col p-2 border-b border-zinc-700">
    {ExperienceData.map((exp) => <Experience {...exp} />)}
  </div>
</section>
