---
import Experience from "./Experience.astro";
---

<section class="flex flex-col md:flex-row justify-between gap-5 mt-10">
    <div
        class="text-lg font-semibold tracking-tight sm:text-xl text-primary-100 md:border-l border-zinc-700 pl-2"
    >
        Experience
    </div>
    <div class="flex flex-col p-2 border-b border-zinc-700">
        <Experience
            company="Zepz"
            companyLogo="https://media.licdn.com/dms/image/C560BAQEsoQ1hu7qU_g/company-logo_100_100/0/1623149271391?e=1695859200&v=beta&t=mDB5yxnI3K_Yz80MvhAju2oB3gcT8tMFKYu87FHdEyw"
            link="https://www.zepzpay.com/"
            jobTitle="Front-End Engineer"
            fromDate="Jun 2023"
            toDate="Present"
            description="Working with a team of developers in an agile environment that are responsible for SEO optimizations and performance optimizations on a NextJS platform whilst utilizing a Java based micro-service architecture. Ensuring good customer experience through building performant components and code, along with a focus on security and testing."
        />
        <Experience
            company="Picup"
            companyLogo="https://media.licdn.com/dms/image/C560BAQFrJD3I-mxa3w/company-logo_100_100/0/1648124810558?e=1695859200&v=beta&t=oulPIEbZcnkCBo4b4aZgANY3xBxYXEgmW2xOOR2pGB8"
            link="https://www.picup.co.za/"
            jobTitle="Lead Front-End Engineer"
            fromDate="Oct 2021"
            toDate="May 2023"
            description="Front-End Tech Lead, working with Angular, Firestore and Azure in a CQRS architecture, handling front-end principles and practices, architectural decisions, being part of the full development lifecycle for new features to be built and designed, to reviewed, tested and deployed."
        />
        <Experience
            company="Wetu Tourism Solutions"
            companyLogo="https://media.licdn.com/dms/image/C4D0BAQGofgbhl-lIzQ/company-logo_100_100/0/1671528607823?e=1695859200&v=beta&t=X7RgQYJtQ-ePZ_kyxjDxwKOhp1YshwbyTbG_uPdWhOs"
            link="https://wetu.com/"
            jobTitle="Software Engineer"
            fromDate="Aug 2020"
            toDate="Oct 2021"
            description="Full-stack developer working with a variety of legacy and new code, including ASP.NET, React, .NET Core and Standard. Involved from start to finish of features and products. Currently focused on React, .NET Core, Azure Cosmos and MS SQL. Specifically working on products to enhance the tourism industry."
        />
        <Experience
            company="Application Frameworks"
            companyLogo="https://media.licdn.com/dms/image/C560BAQGowTAhPQQdYQ/company-logo_100_100/0/1551853386602?e=1695859200&v=beta&t=KnpbOEXoA_BJBGbeS6CfYfb2v-nMHlvvxWyiKmhSw48"
            link="https://appframeworks.com/"
            jobTitle="Software Developer"
            fromDate="Jan 2019"
            toDate="Aug 2020"
            description="Full-stack developer working with .NET Framework, MVC, and ASP.Net front end, producing software for the utilities industry (gas, water, electricity). Ranging from creating and updating android applications to interface with NFC enabled pre-paid meters for vending, to making web applications for managing a utility's system."
        />
        <Experience
            company="Full Stack"
            companyLogo="https://media.licdn.com/dms/image/C4E0BAQELmjLid7aymg/company-logo_100_100/0/1519897429238?e=1695859200&v=beta&t=Tr87lKFIasOwFZo8cT2MsJYns1F9k5TesT-ez4lFTq8"
            link="https://www.fullstack.co.za/"
            jobTitle="Junior Software Developer"
            fromDate="Jan 2018"
            toDate="Dec 2018"
            description="Full-stack developer working with C#, MS SQL and Angular in an Agile/Scrum environment. Specifically developing bespoke web applications for a variety of problem sets such as investment management and insurance. This includes building of REST API's, integrating with third party API's, handling Angular on the front-end, and lastly creation of SQL stored procedures."
        />
    </div>
</section>
