---
import Social from "./Social.astro";

---

<section class="flex justify-center items-center gap-2 mt-4">
    <Social socialLink="https://www.linkedin.com/in/christian-mills28/" altDescription="LinkedIn" svgLink="/images/linkedin-white.svg" />
    <Social socialLink="https://www.facebook.com/cmmills1/" altDescription="Facebook" svgLink="/images/facebook-white.svg" />
    <Social socialLink="http://github.com/desimis" altDescription="GitHub" svgLink="/images/github-mark-white.svg" />
</section>